html,
body {
    margin: 0;
    padding: 0;
}

body {
    // min-height: 100vh;

    main {
        display: grid;
        place-items: center;
        min-height: calc(100vh - 92px);
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
input {
    font-family: Roboto, sans-serif;
}
